<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RevenueCatPublicSDKKey</key>
    <string>$(REVENUECAT_PUBLIC_SDK_KEY)</string>
    <key>RevenueCatEntitlementID</key>
    <string>$(REVENUECAT_ENTITLEMENT_ID)</string>
    <key>RevenueCatOfferingID</key>
    <string>$(REVENUECAT_OFFERING_ID)</string>
</dict>
</plist>
